header {
   position: fixed;
   width: 100%;
   z-index: 1003;
}

header.shrink {
   position: fixed;
   width: 100%;
   background: rgba(0, 0, 0, 0.6);
   transition: 500ms ease-out;
}

ul.shrink {
   font-size: 0.75em;
   transition: 250ms ease-out;
}

header img {
   height: 3em;
   margin-top: 10px;
}

.header__flex--wrapper {
   display: flex;
   justify-content: space-between;
}

#main__nav {
   display: flex;
   justify-content: flex-end;
   padding: 15px 0;
}

.nav__ul {
   display: flex;
   margin: auto 0;
   justify-content: space-around;
}

.nav__ul--li {
   display: inline-block;
   list-style: none;
}

.nav__li--a {
   display: block;
   text-decoration: none;
   color: #fff;
   padding: 10px 15px;
   text-transform: capitalize;
   font-weight: bold;
}

.nav__li--active {
   color: #f79421;
}

.nav__li--a:hover {
   color: #f79421;
   transition: 900ms ease-in;
}

.nav__li--active:hover {
   color: #fff;
   transition: 200ms ease-in;
}
