.height__2 {
   height: 50vh;
}

.wrapper {
   display: flex;
   justify-content: space-around;
}

.box {
   width: 15%;
   height: 250px;
   background: rgba(255, 255, 255, 0.7);
   border-radius: 25px;
   margin-top: 50px;
   box-shadow: 0 0 12px 0 #000;
}
