.height__2 {
   height: 50vh;
}

.wrapper {
   display: flex;
   justify-content: space-around;
}

.box {
   width: 15%;
   height: 250px;
   background: rgba(255, 255, 255, 0.7);
   border-radius: 25px;
   margin-top: 50px;
   box-shadow: 0 0 12px 0 #000;
}


.marko_proba {
   background-color: grey;
   padding: 50px 0;
   overflow: hidden;
}

.left {
   width: 48%;
   float: left;
   background-color: lightblue;
   height: 400px;
   margin-right: 10px;
   margin-left: 10px;
}

.come-in {
  transform: translateY(150px);
  animation: come-in 0.5s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in {
  to { transform: translateY(0); }
}
